#hotspot {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-2);

  background: var(--lock-overlay-color);
  backdrop-filter: var(--lock-overlay-blur); 

  display: flex;
  justify-content: center;
  align-items: center;
}

.hotspot-modal {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: var(--panel-padding);
  background: var(--panel-bg);
  border: var(--panel-border);
}

#hotspot-header {
  flex: 0 0 auto;
  margin-bottom: var(--panel-delimiter-margin);
  padding-bottom: var(--panel-delimiter-padding);
  border-bottom: var(--panel-border);

  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.hotspot-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hotspot-footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 12px;

  margin-top: var(--panel-delimiter-margin);
  padding-top: var(--panel-delimiter-padding);
  border-top: var(--panel-border);
}

.hotspot-footer-buttons {
  flex: 0 0 auto;
  display: flex;
  gap: 12px;
}

.hotspot-field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotspot-url {
  display: flex;
  gap: 12px;
  align-items: center;;
}

.hotspot-open-url-btn {
  padding: 9px
}

@media (min-width: 769px) {
  .hotspot-modal {
    width: 80%;
    height: 80%;
    min-width: 700px;
    min-height: 415px;
    border-radius: var(--panel-radius);
    box-shadow: var(--panel-shadow);
    border-radius: 10px;
  }

  .hotspot-type {
    width: 200px;
  }
}
